<section class="linea-separacion">
    <div class="linea">

    </div>
</section>

<section class="d-flex align-items-center proyectos" id="proyectos">

    <div class="container">
        <div class="row ">
            <h1 class="mx-auto titulo-seccion ">Nuestros proyectos</h1>
        </div>

        <div class="row">
            <div class="col-md-5">

                <img src="../../../assets/images/undraw_add_tasks_mxew.png" class="img-fluid image float-right" alt="">
            </div>
            <div class="col-md-6 my-auto ">
                <h2>Desarrollo móvil</h2>
                <p class="texto-trabajos text-justify float-left">

                    El desarrollo de aplicaciones móviles permite a una empresa o negocio llevar la experiencia de ser uno de sus clientes a través de un producto totalmente personalizado con funcionalidades que le ofrecen a los clientes la manera de interactuar con la empresa
                    de forma más cercana. Revisa alguno de nuestros productos que hemos desarrollado.

                </p>
                <a role="button" class="btn btn-info boton" routerLink="/pagina-movil">Ver más</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 my-auto offset-md-1 order-sm-1 order-2">
                <h2>Desarrollo Web</h2>
                <p class="texto-trabajos text-justify float-left">
                    El desarrollo web moderno esta basado actualmente en una serie de tecnologías que día con día se van actualizando, por ello es importante que tu sitio sea desarrollado con las mejores herramientas. Nuestro equipo diseña LandingPages,
                </p>
                <a role="button" class="btn btn-info boton" href="#">Ver más</a>
            </div>
            <div class="col-md-5 order-1">
                <img src="../../../assets/images/undraw_mobile_feed_73bd.png" class="img-fluid image float-right" alt="">
            </div>
        </div>


    </div>

</section>