<footer class="d-flex align-items-center position-relative footer" id="contacto">



    <div class="container-fluid container-fluid-max">
        <div class="row">


            <h1 class="mx-auto titulo-seccion">Contáctanos</h1>

        </div>

        <app-contacto></app-contacto>


        <div class="row margenTop">
            <div class="col-4 text-right">
                <a href="https://www.facebook.com/pushandPopSolutions/"><i class="fa fa-facebook fa-4x text-dark" aria-hidden="true"></i></a>
            </div>
            <div class="col-4 text-center">
                <a href="https://www.facebook.com/pushandPopSolutions/"><i class="fa fa-linkedin fa-4x text-dark" aria-hidden="true"></i></a> </div>
            <div class="col-4">
                <a href="https://www.facebook.com/pushandPopSolutions/"><i class="fa fa-instagram fa-4x text-dark" aria-hidden="true"></i></a>
            </div>
        </div>

        <h2 class="text text-center mt-5">Push && Pop 2020</h2>
    </div>

</footer>