<!-- <app-nav></app-nav> -->
<section class="header">
    <app-nav></app-nav>
    <div class="container">
        <div class="row margen">
            <div class="col-md-12">
                <blockquote class="blockquote text-center margen">
                    <p class="titulo">Bienvenidos a Push && Pop</p>
                    <p class="texto">

                        Somos un equipo de Ingenieros mexicanos apasionados por la programación.
                        Queremos brindarte soluciones de calidad a un costo razonable.
                        Tu piénsalo y nosotros lo programamos.
                    </p>
                    <a type="button" href="#contacto" class="btn btn-primary">
                        Contáctanos</a>
                </blockquote>

            </div>
        </div>
        <div class="row">
            <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
                    preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #fff;"></path>
                </svg></div>
        </div>
    </div>
</section>