<section id="nosotros" class="d-flex align-items-center position-relative">
    <div class="container-fluid container-fluid-max">
        <div class="row">
            <h1 class="mx-auto titulo-seccion">Sobre Nosotros</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top img-fluid" src="../../../assets/images/img_avatar.png"
                        alt="Avatar Giovanni">
                    <div class="card-body">
                        <h4>Giovanni Solano Segura</h4>
                        <p class="card-text text-justify">
                            Ingeniero mexicano egresado de la Universidad Politécnica del Estado de Morelos en
                            la carrera de Informática. Encargado
                            del departamento de desarrollo web en donde se manejan tecnologías como
                            Angular, NodeJs, VueJs, MongoDB, entre muchas otras.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top img-fluid" src="../../../assets/images/img_avatar.png" alt="Avatar Uriel">
                    <div class="card-body">
                        <h4>Marcos Uriel Trejo Velázquez</h4>
                        <p class="card-text text-justify">
                            Ingeniero mexicano egresado de la Universidad Politécnica del Estado de Morelos en
                            la carrera de Informática. Encargado del departamento
                            de desarrollo móvil
                            de aplicaciones en plataformas como Android, Windows y iOS.
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>