<section class="linea-separacion">
    <div class="linea">

    </div>
</section>

<section id="tecnologias" class="d-flex align-items-center tecnologias">

    <div class="container h-100">
        <div class="row">


            <h1 class="mx-auto titulo-seccion">Tecnologías utilizadas</h1>

        </div>

        <div class="gallery h-100 justify-content-center align-items-center">

            <div class="mb-3">
                <img class="image img-fluid " src="../../../assets/images/tyler-franta-iusJ25iYu1c-unsplash.jpg" alt=""> </div>

            <div class="mb-3 ">
                <img class="image img-fluid " src="../../../assets/images/javier-quesada-qYfwGVNJqSA-unsplash.jpg" alt="">
            </div>

            <div class="mb-3 ">
                <img class="image img-fluid " src="../../../assets/images/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg" alt="">
            </div>

            <div class="mb-3 ">
                <img class="image img-fluid " src="../../../assets/images/jesus-kiteque-wn-KYaHwcis-unsplash.jpg" alt="">
            </div>
            <div class="mb-3 ">
                <img class="image img-fluid " src="../../../assets/images/andreas-haslinger-W9Z87k4hV08-unsplash.jpg" alt="">
            </div>
            <div class="mb-3 ">
                <img class="image img-fluid " src="../../../assets/images/domenico-loia-EhTcC9sYXsw-unsplash.jpg" alt="">
            </div>




        </div>


    </div>

</section>